.navbar {
  background: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.full-image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50rem;
}

.menuListItem {
  margin: 1rem;
  cursor: pointer;
}

.menuListItem:hover {
  color: yellowgreen;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #9acd32;
}

.menuBtn {
  background: white;
  /* background: #d5e7f1; */
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.menuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem 0.5rem;
}

.active {
  color: yellowgreen;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellowgreen;
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 3rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
  }

  .menu {
    display: none;
  }

  .menuBtn {
    display: none;
  }
}
